/* Basic Style */
* {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__image {
  width: 100%;
}
.header__more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  
  .header {
    text-align: center;
  }

}
.todo-app {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.add-element__task,
.element__task,
.element__task-name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-element__task-row-wrapper {
  display: flex;
}
.todo-app__incompleted-tasks,
.todo-app__completed-tasks {
  margin: 0;
  padding: 0px;
}
.element {
  list-style: none;
}
.add-element__button-add,
.element__button-edit,
.element__button-delete {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.add-element__button-add:hover,
.element__button-edit:hover,
.element__button-delete:hover {
  color: #3a3a3a;
}
/* Heading */
.add-element__list-name,
.todo-app__list-name {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.add-element__task,
.element__task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.add-element__task:focus,
.element__task:focus {
  color: #333;
}

/* New Task */
.add-element__list-name {
  display: block;
  margin: 16px 0 20px;
}
.add-element__task {
  width: 318px;
}

/* Task list */
.element {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.element > * {
  vertical-align: middle;
}

.element__checkbox {
  margin: 0 10px;
}
.element > .element__task-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.element__button-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.element__button-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.element__completed .element__task-name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.element .element__task {
  display: none;
}

.element__edit-mode .element__task {
  display: inline-block;
  width: 224px;
}

.element__edit-mode .element__task-name {
  display: none;
}